<h1>Bienvenido a dash and dot</h1>
<form method='post' action='/inicio'>
    <input type="submit" value="iniciar1">
</form>
<form method='post' action='/initJuego'>
    <input type="submit" value="Elegir Juego">
</form>